/* MEDIA */

@include maxWidth-1280 {
    .button {
        max-width: 280px;
        height: 60px;
    }
    .header {
        padding: 30px;
    }
    .header-label {
        .bold {
            display: block;
        }
    }
    .description {
        padding-bottom: 100px;
    }
    .description-wrapper {
        align-items: center;
    }
    .description-item__title {
        margin-bottom: 40px;
        font-size: 16px;
    }
    .description-item__text {
        font-size: 14px;
    }
    .description-item__start {
        margin-bottom: 30px;
        font-size: 16px;
    }
    .information-wrapper {
        align-items: center;
    }
    .information-item {
        padding-left: 22px;
    }
    .information-item__title {
        font-size: 20px;
    }
    .information-item__text {
        font-size: 16px;
        br {
            display: none;
        }
    }
}

@include maxWidth-992 {
    .title {
        font-size: 45px;
    }
    .logo {
        &__image {
            height: 30px;
        }
    }
    .header-label {
        font-size: 14px;
    }
    .description-wrapper {
        flex-direction: column;
    }
    .description-item {
        width: 100%;
        text-align: center;
        .button-wrapper {
            justify-content: center;
        }
    }
    .description-item__title,
    .description-item__start {
        font-size: 18px;
    }
    .description-item__text {
        font-size: 16px;
    }
    .description-image {
        order: -1;
        width: 80%;
        margin-bottom: 35px;
    }
    .information {
        padding: 50px 0;
    }
    .information-wrapper {
        flex-direction: column;
    }
    .information-item {
        width: 100%;
        padding-left: 0;
        text-align: center;
        .button {
            margin: 0 auto;
        }
    }
    .information-image {
        order: -1;
        width: 80%;
        margin-bottom: 35px;
    }
}

@include maxWidth-768 {
    .title {
        font-size: 35px;
    }
    .header {
        flex-direction: column;

    }
    .logo{
        margin-bottom: 15px;
    }
    .header-label{
        text-align: center;
    }
}

@include maxWidth-568 {
    .title {
        font-size: 30px;
    }
    .button {
        &__label {
            font-size: 14px;
        }
    }
    .header{
        margin-bottom: 0;
    }
    .description-item__title,
    .description-item__start {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .description-item__text {
        font-size: 14px;
    }
    .description-image,
    .information-image{
        width: 100%;
    }
    .description-item {
        .button-wrapper {
            flex-direction: column;
            .button {
                margin-right: 0;
                margin-bottom: 25px;
            }
        }
    }
    .information-item__title{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .information-item__text {
        font-size: 16px;
        margin-bottom: 15px;
    }
}