@import 'theme/variables';
@import 'theme/mixin';
@import 'theme/normalize';
@import 'theme/fonts';

body {
    color: #000000;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

@import 'theme/grid';