/* NORMALIZE STYLE */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  margin: 0; }

p {
  margin: 0; }

button {
  cursor: pointer; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 18px; }

a {
  background-color: transparent;
  cursor: pointer; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 18px; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none;
  max-width: 100%; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

table {
  border-collapse: collapse;
  padding: 0;
  margin: 0; }

body {
  color: #000000;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 18px; }

.checkmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer; }
  .checkmark input {
    display: none; }

.checkmark-item {
  width: 45px;
  height: 45px;
  border: 1px solid #722D5C;
  position: relative;
  border-radius: 5px; }
  .checkmark-item:before {
    content: '';
    width: 50%;
    height: 50%;
    background-color: #722D5C;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: opacity .25s linear;
    -o-transition: opacity .25s linear;
    transition: opacity .25s linear; }

input[type="radio"]:checked ~ .checkmark-item:before {
  opacity: 1; }

.test-item {
  display: none; }
  .test-item:first-child {
    display: block; }

.testing__title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px; }

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 3px solid #f4f4f4;
  margin-bottom: 50px; }
  .tabs__item {
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
    position: relative;
    padding-bottom: 15px;
    margin-right: 50px;
    min-width: 200px; }
    .tabs__item:last-child {
      margin-right: 0; }
    .tabs__item:before {
      content: '';
      width: 100%;
      height: 3px;
      background-color: #722D5C;
      position: absolute;
      left: 0;
      bottom: 0;
      opacity: 0;
      -webkit-transition: opacity .25s linear;
      -o-transition: opacity .25s linear;
      transition: opacity .25s linear; }
    .tabs__item.active {
      color: #722D5C; }
      .tabs__item.active:before {
        opacity: 1; }

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 50px; }

.step__active {
  color: #722D5C;
  font-size: 50px;
  font-weight: bold;
  line-height: 1; }

.step__full {
  color: #000000;
  font-size: 18px;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px); }

.test-item__question {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 70px; }

.test-answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 100px; }
  .test-answer .checkmark {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .test-answer .checkmark-text {
    text-align: center;
    margin-top: 20px; }

.test-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.test-navigation__prev-button {
  background-color: transparent;
  border: none;
  color: #722D5C;
  font-weight: bold;
  border-bottom: 3px solid #722D5C;
  outline: none;
  padding: 0;
  padding-bottom: 5px;
  font-size: 16px; }

.test-navigation__next-button,
.test-navigation__result-button {
  width: 350px;
  padding: 25px 0;
  background: -webkit-gradient(linear, left top, right top, from(#512D5E), to(#722D5C));
  background: -o-linear-gradient(left, #512D5E, #722D5C);
  background: linear-gradient(90deg, #512D5E, #722D5C);
  border: none;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  -webkit-transition: opacity .25s linear;
  -o-transition: opacity .25s linear;
  transition: opacity .25s linear; }
  .test-navigation__next-button:disabled,
  .test-navigation__result-button:disabled {
    opacity: .5; }

.test-navigation__result-button {
  display: none; }

.hide-scrollbar {
  overflow: -moz-hidden-unscrollable;
  overflow: hidden; }

/* GRID STYLE */
.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  position: relative;
  width: 100%; }

@media screen and (max-width: 568px) {
  .container {
    padding-left: 2.5px;
    padding-right: 2.5px; } }

@media screen and (min-width: 568px) and (max-width: 767px) {
  .container {
    max-width: 568px;
    padding-left: 5px;
    padding-right: 5px; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 768px;
    padding-left: 10px;
    padding-right: 10px; } }

@media screen and (min-width: 992px) and (max-width: 1279px) {
  .container {
    max-width: 992px; } }

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 0;
    padding-right: 0; } }
