/* MEDIA */
@include maxWidth-1280 {
    .button {
        max-width: 280px;
        height: 60px;
    }
    .header {
        padding: 30px;
    }
    .header-label {
        .bold {
            display: block;
        }
    }
    .result-download__title {
        font-size: 22px;
    }
    .result-download .or {
        margin: 0 20px;
    }
    .information {
        padding: 100px 0 75px 0;
    }
    .information-item__title {
        font-size: 35px;
        margin-bottom: 25px;
    }
    .information-item__text {
        font-size: 16px;
        br {
            display: none;
        }
    }
    .information-flx {
        margin-bottom: 40px;
    }
    .information-content__text{
        font-size: 16px;
    }
    .diagnostics-flx {
        align-items: center;
    }
    .diagnostics__title {
        font-size: 30px;
    }
    .diagnostics-list {
        margin-bottom: 25px;
    }
    .diagnostics-list__item {
        margin-bottom: 5px;
    }
    .diagnostics-column__text {
        margin-bottom: 25px;
    }
}

@include maxWidth-992 {
    padding-bottom: 50px;
    .title {
        font-size: 45px;
    }
    .logo {
        &__image {
            height: 30px;
        }
    }
    .header-label {
        font-size: 14px;
    }
    .subtitle {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .result__title {
        font-size: 22px;
        margin-bottom: 35px;
    }
    .cards{
        justify-content: center;
        margin-bottom: 30px;
    }
    .cards-item {
        width: 300px;
        margin-bottom: 15px;
        margin-right: 15px;
        &:nth-child(2n) {
            margin-right: 0;
        }
    }
    .recommendation {
        padding: 30px 20px;
    }
    .recommendation-item{
        margin-bottom: 15px;
    }
    .recommendation-item.last {
        padding-bottom: 29px;
        margin-bottom: 29px;
    }
    .result-download {
        .or {
            margin: 20px 0;
        }
        .button-wrapper {
            flex-direction: column;
        }
    }
    .information-flx {
        flex-direction: column;
    }
    .information-image {
        width: 80%;
        margin-bottom: 20px;
    }
    .information-item {
        width: 100%;
    }
    .information-item__title {
        text-align: center;
    }
    .information-content__text {
        margin-bottom: 20px;
    }
    .diagnostics-column__text {
        text-align: center;
    }
    .diagnostics-flx {
        flex-direction: column;
    }
    .diagnostics-column {
        width: 100%;
        .button {
            margin: 0 auto;
        }
    }
    .diagnostics-column:not(.sticky) {
        order: -1;
        margin-bottom: 20px;
        width: 80%;
    }
}

@include maxWidth-768 {
    .title {
        font-size: 35px;
    }
    .header {
        flex-direction: column;
    }
    .logo{
        margin-bottom: 15px;
    }
    .header-label{
        text-align: center;
        .bold {
            display: inline;
        }
    }
    .subtitle{
        font-size: 25px;
    }
    .result__title {
        font-size: 20px;
    }
    .cards-item {
        width: 45%;
    }
    .cards-item__label,
    .cards-item__description {
        font-size: 16px;
    }
    .send {
        width: 100%;
        &__input {
            width: 50%;
        }
        .button {
            width: 50%;
            min-width: inherit;
        }
    }
    .diagnostics__title {
        font-size: 25px;
        br {
            display: none;
        }
    }
}

@include maxWidth-568 {
    .title {
        font-size: 30px;
    }
    .button {
        &__label {
            font-size: 14px;
        }
    }
    .header{
        margin-bottom: 0;
    }
    .subtitle {
        font-size: 18px;
        margin-bottom: 25px;
    }
    .result__title{
        font-size: 16px;
        margin-bottom: 15px;
    }
    .cards-item {
        width: 300px;
        min-height: 300px;
        margin-right: 0;
    }
    .recommendation {
        padding: 20px 10px;
    }
    .recommendation-information {
        padding-top: 7px;
        font-size: 14px;
    }
    .recommendation-status{
        height: 35px;
        width: 35px;
        margin-right: 10px;
        &__icon {
            height: 20px;
        }
    }
    .result-download__title {
        font-size: 18px;
        margin-bottom: 25px;
    }
    .send {
        flex-direction: column;
        align-items: center;
        &__input {
            width: 280px;
            margin-bottom: 20px;
            height: 40px;
            border-right: 1px solid $purpleLight;
            border-radius: 3px;
            font-size: 14px;
        }
        .button {
            width: inherit;
        }
    }
    .information{
        padding: 50px 0;
    }
    .information-flx {
        margin-bottom: 15px;
    }
    .information-image {
        width: 100%;
    }
    .information-item__text {
        text-align: center;
    }
    .information-content {
        flex-direction: column;
    }
    .information-content__item {
        width: 100%;
    }
    .information-content__text {
        font-size: 14px;
    }
    .diagnostics__title {
        font-size: 20px;
    }
    .diagnostics-column__text {
        line-height: 1.3;
    }
    .diagnostics-list__item {
        padding-left: 20px;
    }
    .diagnostics-column:not(.sticky) {
        width: 100%;
    }
}