/* MEDIA */
@include maxWidth-1280 {
    .button {
        max-width: 280px;
        height: 60px;
    }
    .header {
        padding: 30px;
    }
    .header-label {
        .bold {
            display: block;
        }
    }
}

@include maxWidth-992 {
    .title {
        font-size: 45px;
    }
    .logo {
        &__image {
            height: 30px;
        }
    }
    .header-label {
        font-size: 14px;
    }
    .tabs {
        margin-bottom: 50px;
        justify-content: space-between;
    }
    .tabs__item {
        padding-bottom: 10px;
        margin-right: 0;
    }
    .test-item__question{
        font-size: 20px;
    }
}

@include maxWidth-768 {
    .title {
        font-size: 35px;
    }
    .header {
        flex-direction: column;
    }
    .logo{
        margin-bottom: 15px;
    }
    .header-label{
        text-align: center;
        .bold {
            display: inline;
        }
    }
    .checkmark-item {
        height: 35px;
        width: 35px;
    }
    .test-answer {
        .checkmark-text {
            margin-top: 10px;
            font-size: 14px;
        }
    }
    .tabs {
        flex-wrap: wrap;
        border: none;
    }
    .tabs__item {
        width: 50%;
        padding-bottom: 5px;
        border-bottom: 2px solid #E1E1E1;
        &:before {
            bottom: -2px;
        }
        &:nth-child(1),
        &:nth-child(2) {
            margin-bottom: 15px;
        }
    }
}

@include maxWidth-568 {
    .title {
        font-size: 30px;
    }
    .button {
        &__label {
            font-size: 14px;
        }
    }
    .header{
        margin-bottom: 0;
    }
    .tabs__item{
        br {
            display: block;
        }
    }
    .test-item__question{
        font-size: 16px;
    }
    .test-answer{
        margin-bottom: 50px;
        flex-wrap: wrap;
        .checkmark {
            width: 50%;
            &:nth-child(1) {
                order: -3;
            }
            &:nth-child(2) {
                order: -1;
                margin-top: 15px;
            }
            &:nth-child(3) {
                order: -2;
            }
        }
    }
    .test-navigation{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .button{
        &_prev {
            margin-bottom: 20px;
        }
    }
}